<h1 style="margin-top: 1em">Login</h1>

<%= form_tag '/login' do %>


  Email:
  <br>
  <%= text_field :email, class: "form-control mb-4 w-25" %>
  <br>
  <br>
  Password:
  <br>
  <%= password_field :password, class: "form-control mb-4 w-25" %>

  <br>
  <br>
  <%= submit_tag "Submit", class: "btn btn-success" %>
<% end %>
