<br>
<br>
<h1>Admin Dashboard</h1>
<br>
<div class="alert alert-info" role="alert">
  Total number of products: &nbsp &nbsp <%= @product_count %>
  <br>
  Total number of categories: &nbsp <%= @category_count %>
</div>
<br>

<%= link_to "View Products", admin_products_path, class: 'btn btn-lg btn-primary' %>
