<section class="about-index">
  <header class="page-header">
      <h1>Welcome to the Jungle</h1>
  </header>
    <div class="intro">
      <p>
        The Jungle was started on the same island where Jurrasic Park was filmed, with the simple mission of bringing Canadians closer to prehistoric nature.
        We offer a wide variety of ancient plants that are so easy to care for that even the least "green thumbed" will find them hard to kill.
      </p>
    </div>
    <div class="body">
      <p>
        <b>Our Philosophy</b>
        <br>

        Our philosophy is to always add value and provide the best customer experience possible.
        In fact, we care so much about your experience that we break down every part of the customer
        journey to optimize the experience it gives you from the ordering process to the unboxing experience.
      </p>
      <p>
        <b>Quality</b>
        <br>
        At our online plant shop, we only sell the highest quality plants and flowers.
        We source our products from reputable prehistoric experts, so you can be sure you're getting a healthy, beautiful and authentic ancient plant.
      </p>
      <p>
        <b>Selection, Shipping, and Service</b>
        <br>
        Plus, ordering is quick and easy! We offer free shipping on all orders over $50, so it's easy to get the plants you want without breaking the bank.
        We have a wide variety of plants and flowers available for purchase on our website.
        Whether you're looking for something small and delicate or big and bold, we have the perfect plant for you.
        We also carry a selection of accessories, including potting soil, pots and containers, watering cans, and more.

        It doesn't stop there however because if you ever have questions or concerns, we're happy to hear from you and see how we can make your experience the best possible one you could get.
      </p>
    </div>
</section>
